.card {
  background: none;
}

.scrollbar-bank::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}


.square::-webkit-scrollbar-track {
  border-radius: 0 !important;
}

.square::-webkit-scrollbar-thumb {
  border-radius: 0 !important;
}

.thin::-webkit-scrollbar {
  width: 6px;
}

.example-1 {
  position: relative;
  overflow-y: scroll;
  height: 500px;
}

.example-2 {
  position: relative !important;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  height: 720px !important;
}

.drop {
  font-size: small;
}

select {
  width: 150px;
}

.selector {
  grid-gap: 2px;
  display: inline;
  padding-left: 120px
}
