    //### History page table 
    .table-responsive {
  
        //### Bank name
       .table_topic_header{
        color: #556E7A;
        font-weight:600;
        font-size:1.2em;
       //  text-decoration-line: underline;
       //  text-decoration-style: solid;
        }
   
    

        //### Table head variables
        .table_topic_th {
         color:#ffffff; 
         background-color:#556E7A;
         font-weight:600;
         
        }
   
        .table_content{
           font-size:0.9em;
           color: #717171;
        }
   
 
     }

     .example-2 {
      position: relative !important;
      overflow-y: scroll !important;
      height: 30vh !important;
    }

   .addMouseHover { cursor: pointer; }